# Entornos virtuales
venv/

# Archivos de pruebas
pruebas_autenticacion.py
pruebas_resenas.py

# Pycache (TODOS)
__pycache__/
*.py[cod]

# Configuración de VSCode
.vscode/


# ========================
# Python
# ========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# ========================
# Node / Frontend (Vue)
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================
# Vite / Vue build
# ========================
dist/
.vite/

# ========================
# IDEs y SO
# ========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log
ApisVue/BackendApis/api_rest/__pycache__/config.cpython-310.pyc
ApisVue/BackendApis/api_rest/iniciartodo.bat
ApisVue/BackendApis/api_rest/routes/__pycache__/cartelera.cpython-310.pyc
ApisVue/BackendApis/api_rest/routes/__pycache__/peliculas.cpython-310.pyc
ApisVue/BackendApis/api_rest/routes/__pycache__/resenas.cpython-310.pyc
ApisVue/BackendApis/api_rest/routes/__pycache__/series.cpython-310.pyc
ApisVue/BackendApis/api_rest/utils/__pycache__/auth.cpython-310.pyc
ApisVue/BackendApis/api_rest/__pycache__/config.cpython-310.pyc
ApisVue/BackendApis/api_rest/routes/__pycache__/cartelera.cpython-310.pyc
ApisVue/BackendApis/api_rest/routes/__pycache__/peliculas.cpython-310.pyc
ApisVue/BackendApis/api_rest/routes/__pycache__/resenas.cpython-310.pyc
ApisVue/BackendApis/api_rest/routes/__pycache__/series.cpython-310.pyc
ApisVue/BackendApis/api_rest/utils/__pycache__/auth.cpython-310.pyc
*.pyc
ApisVue/BackendApis/api_rest/iniciartodo.bat

*.pyc
